<table class="table">
    <thead>
    <tr>
      {{#each headers as |header|}}
          <th>{{header}}</th>
      {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each items as |item|}}
        <tr class="browser-table-item" {{action "itemClicked" item.id}}>
          {{#each item.values as |column|}}
              <td>{{column}}</td>
          {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>