
<div class="row media-browser-section">
    {{#browser-table model=model classNames="col-md-6"}} {{/browser-table}}
    {{#browser-table model=model classNames="col-md-6"}} {{/browser-table}}
</div>
<div class="row media-browser-section">
    {{#browser-table model=model classNames="col-md-12"}} {{/browser-table}}
</div>
