<div>Online Services</div>
<div class="selector-service" {{action "onlineClick" "all"}}><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> All</div>
<div class="selector-service" {{action "onlineClick" "google"}}><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> Google Play</div>
<div class="selector-service" {{action "onlineClick" "spotify"}}><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> Spotify</div>
<div class="selector-service" {{action "onlineClick" "cloudamp"}}><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> CloudAmp</div>