<div class="row">
    <div class="col-md-2 album-art-column">
        <img class="album-art-img" src="/assets/images/Winampmain.png" />
    </div>
    <div class="col-md-10 details-spec">
        <div><span class="detail-light">Title:</span> The Imperial March</div>
        <div><span class="detail-light">Artist:</span> John Williams</div>
        <div><span class="detail-light">Album:</span> Star wars</div>
        <div><span class="detail-light">Track:</span> 12</div>
    </div>
</div>