body,html {
    height: 100%;
}

.main-container {
    height: 100%;
}

.media-player{
    height: 15%;
    background-color: gray;
}

.media-browser {
    height: 85%;
}

.media-browser-section {
    height: 50%;
    overflow: hidden;
}

.browser-table {
    height: 100%;
    overflow-y: scroll;
    border: 1px solid black;
}

.all-height {
    position: relative;
    height: 100%;
}