<div class="media-player row">

</div>
<div class="media-browser">
    <div class="row media-browser-section">
        {{#artists-section model=model classNames="col-md-6"}} {{/artists-section}}
        {{#artists-section model=model classNames="col-md-6"}} {{/artists-section}}
    </div>
    <div class="row media-browser-section">
        {{#artists-section model=model classNames="col-md-12"}} {{/artists-section}}
    </div>
</div>
