<div class="header-components row">
    {{media-player classNames="col-md-4"}}
    {{now-playing-details classNames="col-md-4"}}
    {{playlist-details classNames="col-md-4"}}
</div>
{{media-browser model=model}}
